{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
        {{ form_row(form.Name) }}
        {{ form_row(form.Email) }}
        {{ form_row(form.Message) }}

        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}