{# templates/garage.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des garages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="results-section">
            <h1>Liste des Garages</h1>

            {% if garages is not empty %}
                <div class="garage-list">
                    {% for garage in garages %}
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{ garage.nom }}</h2>
                                <p class="card-text">Mobile Contact: {{ garage.numerotel }}</p>
                                <p class="card-text">Adresse: {{ garage.adress1 }} {{ garage.adress2 }}, {{ garage.ville }} {{ garage.codepostale }}</p>
                                 <a href="#" class="card-link">Annonce Du Garage</a>
                                {# Ajoutez d'autres champs en fonction de vos besoins #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun garage trouvé.</p>
            {% endif %}
        </section>
    </div>


     <script>
        document.addEventListener('DOMContentLoaded', function () {
            var annonceLinks = document.querySelectorAll('.card-link');

            annonceLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    var garageName = this.getAttribute('data-garage');
                    // Encodez le nom du garage pour l'URL
                    var encodedGarageName = encodeURIComponent(garageName);
                    // Redirigez vers la page qui affiche les résultats de recherche pour le garage
                    window.location.href = "{{ path('app_annonces_search') }}?garage=" + encodedGarageName;
                });
            });
        });
    </script>
{% endblock %}
