{# templates/annonce/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer une Annonce{% endblock %}

{% block body %}
    <h1>Créer une Annonce</h1>

   {{ form_start(form) }}
{{ form_row(form.titre) }}
{{ form_row(form.datePublication) }}
{{ form_row(form.description) }}
{{ form_row(form.ref) }}
{{ form_row(form.misEnCirculation) }}
{{ form_row(form.kilometrage) }}
{{ form_row(form.prix) }}
{{ form_row(form.carburant) }}
{{ form_row(form.model) }}
{{ form_row(form.marque) }}
{{ form_row(form.garage) }}
{{ form_row(form.images) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/annonce.js') }}"></script>
{% endblock %}
