{# templates/annonce/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'Annonce
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var swiper = new Swiper('.swiper-container', {
slidesPerView: 1,
spaceBetween: 10,
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
},
pagination: {
el: '.swiper-pagination',
clickable: true
}
});
});
	</script>
{% endblock %}

{% block body %}

<div class="container-fluid">
	<section class="showsection d-flex  ">

		<div class="swiper-container " style="width: 60rem; height: 35rem;">
			<!-- Partie pour les images -->
			<div class="swiper-wrapper ">

				{% for image in annonce.images|default([]) %}
					<div class="swiper-slide">
						<img class="image_show" src="{{ asset( image.getImageUrl()) }}" alt="{{ image.path }}">
                    
					<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				
					</div>
					<!--<div class="swiper-pagination"></div>!-->
				{% endfor %}
			</div>	
				<!-- Add Pagination -->
				
				
			
		</div>

		<!-- Partie pour les détails -->
		<div class="card  mb-4" style="width: 18rem; height: auto;">

			<div class="card-body">
				<h3 class="card-text">{{ annonce.titre }}.</h3>

				{{ annonce.description }}
				<br>
				{{ annonce.prix }}.$ |
				{{ annonce.misEnCirculation }}
				|
				{{ annonce.Couleur}}


				<div class="card-body">
					<a href="{{ path('app_contact', {'id': annonce.id}) }}" class="btn btn-primary">Contactez-nous</a>

				</div>
			</div>


		</section>
		<p class="mb-0" style="margin-left:-800px;">
			<strong>Point Fort</strong>
		</p>
		<section class="options" style="margin-top: 20px; display: flex;">

			<p class="mb-0" style="margin-right: 50px;">
				<img src="{{ asset('media/icon/camera.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px" ;>
				cameraDeRecul :
				{% if annonce.cameraDeRecul %}Oui{% else %}Non
				{% endif %}
			</p>
			<p class="mb-0" style="margin-right: 50px;">
				<img src="{{ asset('media/icon/gps.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px" ;>
				gps :
				{% if annonce.gps %}Oui{% else %}Non
				{% endif %}
			</p>
			<p class="mb-0" style="margin-right: 50px;"><img src="{{ asset('media/icon/bluetooth.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px" ;>
				bluetooth :
				{% if annonce.bluetooth %}Oui{% else %}Non
				{% endif %}
			</p>
			<p class="mb-0" style="margin-right: 50px;"><img src="{{ asset('media/icon/climatisation.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px" ;>
				climatisation :
				{% if annonce.climatisation %}Oui{% else %}Non
				{% endif %}
			</p>
		</section>
		<section class="d-flex">
			<section class="detailegarage">
				<div class="detaileAnnonce card mb-4" style="width: 60rem; height: 15rem;">
					<div class="card-header">
						Garage :<p>
							<strong>{{ garage.nom }}</strong>
						</p>
					</div>
					<div class="card-body">
						<p class="card-text">
							<strong>Adresse :
							</strong><br>
							{{ garage.adress1}}
							{{ garage.adress2}}<br>
							{{ garage.ville}}<br>
							{{ garage.codePostale}}
							<br>
							Contact Telephone :<strong>{{ garage.numerotel}}</strong>
						</p>

					</div>
				</div>
			</section>


		</section>

		<section class="detaileAnnonce">
			<div class="detaileAnnonce card mb-4" style="width: 60rem; height: 40rem;">
				<div class="card-header">
					Informations générales :
				</div>
				<div class="card-info">
					<p class="card-text">Pour l'annonce :<strong>{{ annonce.titre }}</strong>
					</p>
					<img src="{{ asset('media/icon/plaque.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px" ;>
					ControleTechnique  :<strong>{{ annonce.ControleTechnique}}</strong><br><br>
					<img src="{{ asset('media/icon/1.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>
					PremiereMain  :<strong>{{ annonce.PremiereMain}}</strong><br><br>
					<img src="{{ asset('media/icon/couleur.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>
					Couleur   :<strong>{{ annonce.Couleur}}</strong><br><br>
					<img src="{{ asset('media/icon/porte.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>NombreDePortes   :<strong>{{ annonce.NombreDePortes}}</strong><br><br>
					<img src="{{ asset('media/icon/coffre.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>VolumeDeCoffre  :<strong>{{ annonce.VolumeDeCoffre}}</strong><br><br>
					<img src="{{ asset('media/icon/borne.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>Rechargeable  :<strong>{{ annonce.Rechargeable}}</strong><br><br>
					<img src="{{ asset('media/icon/compteur.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>PuissanceFiscale  :<strong>{{ annonce.PuissanceFiscale}}</strong><br><br>
					<img src="{{ asset('media/icon/garantie.png') }}" alt="Oui" style="width: 30px; max-width: 250px; border-radius: 10px" ;>
					Garantie   :<strong>{{ annonce.Garantie}}</strong><br><br>


				</div>
			</div>
		</section>
	</div>	
	{% endblock %}