{# templates/annonce/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'Annonce
{% endblock %}

{% block body %}



<section class="showsection d-flex">

<div class="card" style="width: 60rem; height: 30rem;">
    <!-- Partie pour les images -->
    <div class="card-body">
        {% for image in annonce.images|default([]) %}
            <img class="image_annonce" src="{{ asset(image.getImageUrl()) }}" alt="{{ image.path }}">
        {% endfor %}
    </div>
    </div>

    <!-- Partie pour les détails -->
	<div class="card" style="width: 18rem; height: 30rem;">
    <div class="card-body">
        <h2 class="card-text">{{ annonce.titre }}.</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Description :</h3>{{ annonce.description }}</li>
            <li class="list-group-item">Prix :{{ annonce.prix }}</li>
            <li class="list-group-item">Mis En Circulation :{{ annonce.misEnCirculation }}</li>
            <li class="list-group-item">Kilometrage :{{ annonce.kilometrage }}</li>
            <li class="list-group-item">Publié Le  :{{ annonce.datePublication|date('Y-m-d H:i') }}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('app_contact', {'id': annonce.id}) }}" class="btn btn-primary">Contactez-nous</a>
            
        </div>
    </div>
	</div>
</section>
    
{% endblock %}

