{# templates/annonce/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'Annonce{% endblock %}

{% block body %}
    <h1>Détail de l'Annonce</h1>

    <dl>
        {% if annonce.images is not empty %}
            <dt>Image</dt>
            <dd>
            <div>
{% for image in annonce.images %}
                        <img src="{{ asset(image.getImageUrl) }}" alt="{{ image.legende }}">
                    {% endfor %}                </div>
            </dd>
        {% endif %}
        <dt>Titre</dt>
        <dd>{{ annonce.titre }}</dd>

        <dt>Description</dt>
        <dd>{{ annonce.description }}</dd>

        <dt>Prix</dt>
        <dd>{{ annonce.prix }}</dd>

        <dt>Mis en Circulation</dt>
        <dd>{{ annonce.misEnCirculation }}</dd>

        <dt>Kilométrage</dt>
        <dd>{{ annonce.kilometrage }}</dd>

        <dt>Date de Publication</dt>
        <dd>{{ annonce.datePublication|date('Y-m-d H:i') }}</dd>
        {# Ajoutez d'autres champs en fonction de vos besoins #}
    </dl>
{% endblock %}
