{# templates/annonce/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'Annonce
{% endblock %}

{% block body %}



<section class="showsection d-flex">

<div class="card" style="width: 60rem; height: 30rem;">
    <!-- Partie pour les images -->
    <div class="card-body">
        {% for image in annonce.images|default([]) %}
            <img class="image_annonce" src="{{ asset( image.getImageUrl()) }}" alt="{{ image.path }}">
        {% endfor %}
    </div>
    </div>

    <!-- Partie pour les détails -->
	<div class="card" style="width: 18rem; height: 30rem;">
    <div class="card-body">
        <h2 class="card-text">{{ annonce.titre }}.</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Description :</h3>{{ annonce.description }}</li>
            <li class="list-group-item">Prix :{{ annonce.prix }}</li>
            <li class="list-group-item">Mis En Circulation :{{ annonce.misEnCirculation }}</li>
            <li class="list-group-item">Kilometrage :{{ annonce.kilometrage }}</li>
            <li class="list-group-item">Publié Le  :{{ annonce.datePublication|date('Y-m-d H:i') }}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('app_contact', {'id': annonce.id}) }}" class="btn btn-primary">Contactez-nous</a>
            
        </div>
    </div>
	</div>
</section>
<h4 style="margin-left:-800px;">Point Fort</h4>
<section class="options" style="margin-top: 20px; margin-left: -180px; display: flex; justify-content: space-between;">

<p style="margin-right: 50px;"> <img src="{{ asset('media/icon/camera.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px";>
    cameraDeRecul : {% if annonce.cameraDeRecul %}Oui{% else %}Non{% endif %}</p>
    <p style="margin-right: 50px;"> <img src="{{ asset('media/icon/gps.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px";>
	gps : {% if annonce.gps %}Oui{% else %}Non{% endif %}</p>
	<p style="margin-right: 50px;"><img src="{{ asset('media/icon/bluetooth.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px";>
	bluetooth : {% if annonce.bluetooth %}Oui{% else %}Non{% endif %}</p>
    <p style="margin-right: 50px;"><img src="{{ asset('media/icon/climatisation.png') }}" alt="Oui" style="width: 40px; max-width: 250px; border-radius: 10px";>
	climatisation : {% if annonce.climatisation %}Oui{% else %}Non{% endif %}</p>
</section>
    
	<section class="detailegarage">
 <div class="card" style="width: 60rem; height: 15rem; margin-left: -300px;">
  <div class="card-header">
    Garage :<h4>{{ garage.nom }}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Ce situe <br>
	{{ garage.adress1}}
	{{ garage.adress2}}
	{{ garage.ville}}
	{{ garage.codePostale}}
	<br>
	Contact Telephone :{{ garage.numerotel}}
	</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	</section>

    <section class="detaileAnnonce">
 <div class="card" style="width: 60rem; height: 30rem; margin-left: -300px;">
  <div class="card-header">
    Informations générales :
  </div>
  <div class="card-body">
    <p class="card-text"><P>{{ annonce.titre}} </P><br>
	ControleTechnique   :{{ annonce.ControleTechnique}}<br>
	PremiereMain :{{ annonce.PremiereMain}}<br>
	Couleur :{{ annonce.Couleur}}<br>
	NombreDePortes :{{ annonce.NombreDePortes}}<br>
    VolumeDeCoffre :{{ annonce.VolumeDeCoffre}}<br>
    Rechargeable :{{ annonce.Rechargeable}}<br>
    PuissanceFiscale :{{ annonce.PuissanceFiscale}}<br>
    Garantie :{{ annonce.Garantie}}<br>
	
	</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	</section>
{% endblock %}

